//tipografia
$fuente_principal: "Nanum Myeongjo", serif;

//Colores

$penguin-face: white;
$penguin-picorna: orange;
$penguin-skin: gray;
$rosa: pink;
$crema: #fdfbcd;
$morado: #984678;
$negro: #000;
$blanco: #fff;
$blancoM1: #fefef0;
$blancoM2: #fefeee;
$rojo: #bd3d47;
$marron: #9b6a6c;

//Tamaño de las Media Queries
$tablet: 768px;
$telefono: 767px;
